.add-product {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    .add-detail {
        width: 60%;
        select,
        input {
            display: block;
            width: 100%;
            background: $color-gray-500;
            border-radius: 8px;
            padding: 12px 0 12px 16px;
        }

        .selectbox-area {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .select-item {
                width: 48%;
                select {
                    border: none;
                }
            }
        }
    }
    .add-img {
        width: 40%;
    }
}