// fonts

$font-default: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
$font-secondary: '';
$font-size-default: 16px;
$font-light: 400;
$font-normal: 500;
$font-bold: 700;

// colors

$color-primary: #4B9CE2;
$color-secondary: #F0F8FF;
$color-orange: #F77474;
$color-orange-500: #FAAD60;
$color-orange-300: #FFF0E2;
$color-orange-100: #FFF2F2;
$color-white: #fff;
$color-black: #000;
$color-black-700: #525252;
$color-gray: #B1B1B1;
$color-gray-500: #F2F2F2;
$color-gray-300: #F4F4F4;

$modal-primary: #4b9ce2c7;

// radius
